body { font-family: Verdana,Arial,Helvetica,Tahoma,sans-serif; }

body { padding: 0 1em 1em 1em; }

div.figRight { page-break-inside: avoid; float: right; margin: 0 0 1em 1em }
div.figRight > img { page-break-after: avoid; width: 100% }
div.figRight > div { page-break-before: avoid; font-size: 90% }
